<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
		
	</head>
	
	<body class = "container">
		<h1>
			Game Library
			
				<a href="logout" class="btn btn-primary pull-right" style="margin-left:10px">Log out</a>
				<a href="new-entry" class="btn btn-primary pull-right">Add game to library</a>
			
		</h1>
		