<% include header %>
	<div class="form-group">
		<form name = "signInForm" action="sign-up" method="post" class="form-group">
			<label for="Username"> Username</label>
			
			<input name="username"	placeholder="Username" 			class="form-control" 	width = 50><br>
			
			<label for="Create Password"> Create Password</label>
			<input name="password" type="password"	placeholder="Create Password" 	class="form-control"	width="200px"><br>
			<input type="submit" 	id="SignIn"					 	class="btn btn-primary">
		</form>
	</div>

<% include footer %>